In [4]:
import pandas as pd
import numpy as np

In [5]:
data_vehicle_stock = pd.read_excel("data/transport starter kits/TSDK_ALL_VehicleStock_noMC.xlsx",sheet_name="Data")
vehicle_stock_TDSK = data_vehicle_stock.loc[(data_vehicle_stock.Variable=="Vehicle stock") & (data_vehicle_stock["Sub-type"]=="All no MC")]
vehicle_stock_TDSK

,Continent,Country name,ISO Alpha-2 code,ISO Alpha-3 code,Numeric country code,Variable,Type,Sub-type,Fuel,Destination,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa,Angola,AO,AGO,24,Vehicle stock,Road,All no MC,All,All,...,7.700000e+05,800000.00,8.400000e+05,8.800000e+05,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa,Burundi,BI,BDI,108,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,3.032500e+04,3.426600e+04,48442.0,48978.00,NaN,NaN,NaN
7,Africa,Benin,BJ,BEN,204,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,3.796250e+04,3.707500e+04,24357.0,24106.50,24295.0,NaN,NaN
25,Africa,Burkina Faso,BF,BFA,854,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,2.990850e+05,3.241850e+05,352657.0,382905.00,415257.0,447303.0,NaN
33,South America,Brazil,BR,BRA,76,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,6.416472e+07,6.621586e+07,68456385.0,71021475.00,73807436.0,75863573.0,NaN
40,Africa,Botswana,BW,BWA,72,Vehicle stock,Road,All no MC,All,All,...,3.991210e+05,415256.00,4.338430e+05,4.677490e+05,4.978750e+05,525987.0,551833.00,599344.0,577773.0,NaN
55,Africa,Côte d'Ivoire,CI,CIV,384,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,5.305400e+04,5.918700e+04,NaN,NaN,NaN,NaN,NaN
65,Africa,Cameroon,CM,CMR,120,Vehicle stock,Road,All no MC,All,All,...,5.759900e+04,61236.00,NaN,5.008100e+04,4.874700e+04,51142.0,NaN,NaN,NaN,NaN
89,Africa,Democratic Republic of the Congo,CD,COD,180,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,5.305400e+04,5.918700e+04,NaN,NaN,NaN,NaN,NaN
95,South America,Colombia,CO,COL,170,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,5.186532e+06,5.440622e+06,5679528.0,5937038.00,6143287.0,6310037.0,NaN
102,Africa,Algeria,DZ,DZA,12,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,5.363728e+06,5.633747e+06,5764422.0,5952419.00,NaN,NaN,NaN
109,Africa,Egypt,EG,EGY,818,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,5.787042e+06,6.173298e+06,6628663.0,7040075.00,7343380.0,6776959.0,NaN
115,Africa,Eritrea,ER,ERI,232,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,NaN,6.837000e+04,NaN,NaN,NaN,NaN,NaN
121,Africa,Ethiopia,ET,ETH,231,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,Africa,Ghana,GH,GHA,288,Vehicle stock,Road,All no MC,All,All,...,8.111760e+05,850503.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,Africa,Guinea,GN,GIN,324,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,2.256200e+05,2.482530e+05,273510.0,301716.00,333243.0,NaN,NaN
151,Africa,Guinea-Bissau,GW,GNB,624,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,NaN,6.223900e+04,NaN,NaN,NaN,NaN,NaN
153,Asia,Indonesia,ID,IDN,360,Vehicle stock,Road,All no MC,All,All,...,1.619327e+07,17660219.00,1.911196e+07,2.032956e+07,2.153016e+07,21967975.0,26000088.00,NaN,NaN,NaN
164,Africa,Kenya,KE,KEN,404,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,1.403354e+06,1.465218e+06,1555155.0,1649565.00,1754406.0,1834647.0,NaN
185,Asia,Cambodia,KH,KHM,116,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,Asia,Republic of Korea,KR,KOR,410,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,2.098988e+07,2.180335e+07,22528295.0,23202555.00,23677366.0,23743391.0,NaN
209,Asia,Lao People's Democratic Republic,LA,LAO,418,Vehicle stock,Road,All no MC,All,All,...,2.746690e+05,318787.00,3.594290e+05,3.906020e+05,4.271510e+05,465869.0,502213.00,536304.0,567769.0,NaN
221,Africa,Morocco,MA,MAR,504,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,3.436271e+06,3.623375e+06,3620861.0,3835038.00,4187733.0,4334758.0,NaN
228,Asia,Myanmar,MM,MMR,104,Vehicle stock,Road,All no MC,All,All,...,3.368900e+05,387277.00,5.295210e+05,6.497980e+05,7.386660e+05,861478.0,933025.00,963673.0,1018042.0,NaN
240,Africa,Mozambique,MZ,MOZ,508,Vehicle stock,Road,All no MC,All,All,...,4.220700e+05,477349.00,5.880450e+05,5.967350e+05,6.314850e+05,668022.0,706323.00,754693.0,800078.0,NaN
251,Asia,Malaysia,MY,MYS,458,Vehicle stock,Road,All no MC,All,All,...,1.121379e+07,11868401.00,1.235978e+07,1.329278e+07,1.419102e+07,14806032.0,15451757.00,16059139.0,NaN,NaN
263,Africa,Namibia,NaN,NAM,516,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,3.318120e+05,3.499390e+05,NaN,359426.00,372282.0,NaN,NaN
270,Africa,Niger,NE,NER,562,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,2.578210e+05,2.793260e+05,300294.0,312695.00,332533.0,354723.0,NaN
277,Africa,Nigeria,NG,NGA,566,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,7.463236e+06,NaN,NaN,NaN,NaN,9702357.0,NaN
301,Asia,Philippines,PH,PHL,608,Vehicle stock,Road,All no MC,All,All,...,3.656844e+06,3785399.00,NaN,3.829544e+06,3.921795e+06,4236469.0,4433181.00,4711104.0,4523076.0,NaN
312,Africa,Rwanda,RW,RWA,646,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,8.023700e+04,8.767800e+04,94350.0,100723.00,96018.0,108932.0,NaN
319,Africa,Sudan,SD,SDN,729,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,NaN,1.102962e+06,NaN,NaN,NaN,NaN,NaN
325,Africa,Senegal,SN,SEN,686,Vehicle stock,Road,All no MC,All,All,...,3.448077e+05,368149.56,3.944461e+05,4.277986e+05,4.783509e+05,NaN,762868.77,NaN,NaN,NaN
341,Africa,Togo,TG,TGO,768,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,2.014900e+04,1.877900e+04,19782.0,21283.00,24341.0,NaN,NaN
348,Asia,Thailand,TH,THA,764,Vehicle stock,Road,All no MC,All,All,...,1.330756e+07,15517216.00,1.550742e+07,1.621152e+07,1.684084e+07,17591118.0,17784170.00,18596748.0,19827303.0,NaN
361,Africa,Tunisia,TN,TUN,788,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,1.648406e+06,1.728266e+06,1812063.0,NaN,NaN,NaN,NaN
368,Asia,Taiwan Province of China,TW,TWN,158,Vehicle stock,Road,All no MC,All,All,...,7.206770e+06,7367522.00,7.554319e+06,7.739144e+06,7.842423e+06,7948783.0,8035720.00,8118885.0,NaN,NaN
381,Africa,United Republic of Tanzania,TZ,TZA,834,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,7.498250e+05,8.032110e+05,845227.0,897040.00,NaN,NaN,NaN
396,Africa,Uganda,UG,UGA,800,Vehicle stock,Road,All no MC,All,All,...,NaN,60741.00,1.083630e+05,1.493820e+05,1.789350e+05,227146.0,NaN,NaN,NaN,NaN
403,Asia,Viet Nam,VN,VNM,704,Vehicle stock,Road,All no MC,All,All,...,1.485900e+06,1606000.00,1.764500e+06,2.009400e+06,2.515700e+06,2787000.0,NaN,NaN,NaN,NaN
422,Africa,South Africa,ZA,ZAF,710,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,9.927814e+06,NaN,10425245.0,10670352.00,10950244.0,10899813.0,NaN
434,Africa,Zambia,ZM,ZMB,894,Vehicle stock,Road,All no MC,All,All,...,1.098020e+05,189069.00,2.565520e+05,3.104480e+05,3.407950e+05,380048.0,422272.00,460369.0,NaN,NaN
442,Africa,Zimbabwe,ZW,ZWE,716,Vehicle stock,Road,All no MC,All,All,...,NaN,NaN,NaN,NaN,NaN,1092565.0,NaN,NaN,NaN,NaN

In [6]:
vehicle_stocks_UNECE=pd.read_csv("data/vehicle stock/c0001311_20230724-184120-cleaned-cleaned.csv",index_col=0)
vehicle_stocks_UNECE

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country,,,,,,,,,,,,,,,,,,,,,
Albania,95666.0,118420.0,94775.0,106024.0,130003.0,137336.0,150214.0,177381.0,207134.0,224386.0,...,297341.0,341691.0,378053.0,403680.0,460733.0,436543.0,480186.0,520643.0,560943.0,615551.0
Andorra,NaN,NaN,36978.0,36496.0,37599.0,39327.0,41391.0,42863.0,43779.0,45086.0,...,NaN,22025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Armenia,370650.0,328203.0,258000.0,247000.0,263000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,4052689.0,4177217.0,3906659.0,4006657.0,4107776.0,4222010.0,4355606.0,4451384.0,4541572.0,4334973.0,...,5010081.0,5075639.0,5139421.0,5201750.0,5288596.0,5383312.0,5484120.0,5563615.0,5633525.0,5711842.0
Azerbaijan,360616.0,370071.0,403615.0,364635.0,354991.0,394872.0,404726.0,440422.0,451684.0,457883.0,...,1126459.0,1212777.0,1272193.0,1312046.0,NaN,1178225.0,1358669.0,1418365.0,NaN,NaN
Belarus,832216.0,932519.0,1046069.0,1144448.0,1187675.0,1340334.0,NaN,NaN,NaN,NaN,...,3198273.0,3238579.0,3412545.0,3503653.0,3527068.0,3139722.0,3205011.0,3275098.0,NaN,3571208.0
Belgium,4537706.0,4654359.0,4730130.0,4810820.0,4906243.0,5002052.0,5122761.0,5241153.0,5327312.0,5389195.0,...,6233042.0,5607709.0,5669485.0,6455032.0,6570780.0,6675729.0,6776233.0,6843933.0,6868169.0,6944866.0
Bosnia and Herzegovina,NaN,1058.0,62650.0,81047.0,NaN,NaN,NaN,NaN,NaN,NaN,...,829651.0,853736.0,879379.0,908273.0,828333.0,973464.0,1014776.0,1027463.0,1020496.0,1072254.0
Bulgaria,1708942.0,1844188.0,1913016.0,1978482.0,2004968.0,2093532.0,2180852.0,2295395.0,2399152.0,2497818.0,...,3197318.0,3321453.0,3449341.0,3630438.0,4029027.0,3587731.0,3619657.0,3704939.0,3347644.0,3306709.0
Canada,16334762.0,16597303.0,16676888.0,16894798.0,17078194.0,17581125.0,16611174.0,17120053.0,17426850.0,17919747.0,...,20739380.0,21350538.0,21820246.0,22158329.0,22500673.0,22678328.0,23137203.0,23472111.0,23810595.0,24157697.0
Croatia,703241.0,768352.0,788304.0,935231.0,1046783.0,1120634.0,1181882.0,1245326.0,1317968.0,1369704.0,...,1588231.0,1591346.0,1619747.0,1651261.0,1715090.0,1769843.0,1853694.0,1924591.0,1953808.0,2014573.0
Cyprus,295383.0,306868.0,323852.0,333844.0,343452.0,361048.0,370960.0,385615.0,400945.0,408789.0,...,592300.0,587125.0,585519.0,594240.0,617430.0,637353.0,664821.0,690196.0,697093.0,712856.0
Czechia,3036310.0,3143307.0,3283105.0,3456691.0,3677668.0,3793232.0,3748391.0,3755445.0,3869419.0,4017935.0,...,5330037.0,5350568.0,4860518.0,5788058.0,6000877.0,6253164.0,6480562.0,6670879.0,6801020.0,6844940.0
Denmark,1661424.0,1664516.0,1734515.0,1795445.0,1840341.0,1876121.0,1904365.0,1916854.0,1936988.0,1953322.0,...,2263196.0,2735574.0,2782306.0,2841291.0,2917922.0,2981468.0,3039751.0,3087407.0,3154582.0,3216093.0
Estonia,396311.0,414942.0,485794.0,514948.0,541985.0,588927.0,596792.0,552078.0,493377.0,486185.0,...,694555.0,725334.0,754278.0,783214.0,816269.0,845746.0,873102.0,931262.0,949326.0,971418.0
Finland,2134364.0,2130454.0,2164937.0,2214394.0,2228463.0,2315903.0,2391403.0,2454479.0,2488597.0,2530089.0,...,3571144.0,3520977.0,3739057.0,3820046.0,3930315.0,4030332.0,4125180.0,4228080.0,4305976.0,4356719.0
France,28249319.0,28753073.0,28954462.0,29316805.0,29805675.0,32063906.0,32831419.0,33538234.0,34294982.0,34808708.0,...,38076375.0,39739431.0,39441114.0,39216729.0,42743695.0,43536888.0,43714102.0,43875958.0,43925419.0,44228528.0
Georgia,517511.0,483909.0,464900.0,414300.0,345200.0,331400.0,316800.0,311600.0,317500.0,321600.0,...,802408.0,874518.0,963787.0,947700.0,1026700.0,NaN,NaN,NaN,NaN,NaN
Germany,40995936.0,42087923.0,42829573.0,43476839.0,43906331.0,44268400.0,45027749.0,46640665.0,47296442.0,47540261.0,...,46268419.0,46743383.0,47370283.0,48144467.0,48996336.0,49795221.0,50542724.0,51291324.0,51951667.0,52392974.0
Greece,2800952.0,2942744.0,3109065.0,3274338.0,3472618.0,3684749.0,3975072.0,4274770.0,4531995.0,4777229.0,...,5217304.0,5173741.0,5160462.0,5156361.0,5209254.0,5284923.0,5332037.0,5529995.0,5614208.0,5657830.0
Hungary,2376993.0,2484319.0,2576042.0,2595869.0,2639309.0,2556558.0,2606491.0,2735883.0,2867187.0,3028888.0,...,3470332.0,3520950.0,3604029.0,3711228.0,3848766.0,4033229.0,4231432.0,4430077.0,4553481.0,4675531.0
Iceland,131648.0,131597.0,135052.0,141623.0,149511.0,158094.0,170428.0,180109.0,181700.0,183976.0,...,212154.0,215292.0,219754.0,228784.0,243352.0,298587.0,311162.0,314806.0,315294.0,336622.0
Ireland,1031087.0,1079816.0,1137451.0,1209519.0,1299565.0,1374960.0,1465808.0,1532822.0,1631972.0,1711555.0,...,2281787.0,2310320.0,2346597.0,2402077.0,2456897.0,2503887.0,2551089.0,2633328.0,2682054.0,2707787.0
Israel,1210284.0,1314775.0,1394323.0,1473859.0,1544415.0,1599768.0,1654114.0,1754058.0,1835159.0,1881092.0,...,2269259.0,NaN,NaN,NaN,NaN,NaN,3254423.0,3353162.0,3432009.0,NaN
Italy,29729000.0,32454524.0,33164455.0,33643054.0,33988567.0,34932819.0,35451823.0,36165487.0,36994552.0,37682038.0,...,41321303.0,41149140.0,41259611.0,41547046.0,42154755.0,42776726.0,43432235.0,44013750.0,44234944.0,44418050.0
Kazakhstan,995873.0,1353020.0,1353509.0,1258640.0,1180550.0,1135757.0,1126063.0,1124871.0,1175760.0,1181613.0,...,4169159.0,4229473.0,4533962.0,4397582.0,4822307.0,4823486.0,4747180.0,4787281.0,NaN,NaN
Kyrgyzstan,188200.0,139963.0,197500.0,172439.0,176075.0,187734.0,187322.0,189827.0,189796.0,188711.0,...,121.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Latvia,441320.0,332543.0,417481.0,470407.0,527464.0,579441.0,628090.0,665688.0,697513.0,733309.0,...,699919.0,732990.0,746106.0,770112.0,753230.0,781634.0,801937.0,823283.0,836006.0,857769.0
Liechtenstein,NaN,NaN,2068.0,2199.0,2325.0,2440.0,2543.0,2563.0,2713.0,2768.0,...,31127.0,31287.0,31680.0,32083.0,32625.0,33117.0,33482.0,33876.0,34066.0,34258.0
Lithuania,713380.0,771505.0,844944.0,890397.0,991206.0,1096043.0,1201966.0,1286556.0,1249530.0,1302287.0,...,1905449.0,1965083.0,1312718.0,1354245.0,1415459.0,1480096.0,1564122.0,1642698.0,1716806.0,1772288.0
Luxembourg,243050.0,255069.0,257195.0,262571.0,270668.0,280835.0,286537.0,298784.0,308373.0,315044.0,...,394947.0,402665.0,413039.0,422534.0,434087.0,448672.0,462063.0,475599.0,483851.0,492528.0
Malta,187573.0,209200.0,222700.0,205580.0,231163.0,223220.0,226462.0,233428.0,240188.0,246886.0,...,294052.0,301183.0,311838.0,321486.0,330255.0,340804.0,351049.0,360047.0,362624.0,368279.0
Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36448.0
Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,177094.0,NaN,174073.0,NaN,200808.0,210596.0,225632.0,238624.0,212833.0,224578.0
Netherlands,5588565.0,5714855.0,5802162.0,6477254.0,6639200.0,6893822.0,7190396.0,7449367.0,7664639.0,7846649.0,...,8896103.0,8893490.0,8937523.0,9073339.0,9221801.0,9406164.0,9495940.0,9772222.0,9906669.0,9954336.0
North Macedonia,313004.0,285660.0,311006.0,308401.0,314920.0,314596.0,315949.0,327126.0,338516.0,334815.0,...,335241.0,408293.0,411984.0,425764.0,438473.0,484106.0,497896.0,510895.0,476668.0,530212.0
Norway,1985185.0,2020025.0,2066719.0,2052794.0,1797987.0,1896871.0,1926998.0,1963637.0,1908529.0,1933877.0,...,3003748.0,NaN,NaN,NaN,3237981.0,3299126.0,3333215.0,3392848.0,3536676.0,3613059.0
Poland,7856556.0,8293972.0,8956778.0,9571401.0,10102676.0,10534404.0,11044845.0,11952958.0,12564893.0,13274903.0,...,22022180.0,22734857.0,23450866.0,24261574.0,25330207.0,26258913.0,27306660.0,28366542.0,29237839.0,30134449.0
Portugal,4345150.0,4690598.0,4969794.0,5295215.0,5656924.0,6079362.0,6535433.0,6987888.0,7365084.0,7696902.0,...,5529243.0,5586036.0,6063185.0,6050899.0,6175553.0,6411525.0,6668143.0,6982983.0,6976679.0,7044263.0
Republic of Moldova,240370.0,241345.0,238943.0,245273.0,278482.0,282611.0,285552.0,282081.0,299188.0,311279.0,...,636036.0,674436.0,704808.0,560831.0,577094.0,617906.0,646155.0,680687.0,908468.0,NaN
Romania,2157368.0,2415402.0,2580433.0,2798454.0,3031050.0,3275626.0,3466199.0,3622340.0,3726654.0,3454626.0,...,5248936.0,4823443.0,5046053.0,5308166.0,7228594.0,7870175.0,7538662.0,8046763.0,8470490.0,8856754.0
Russian Federation,14524727.0,16433566.0,17829884.0,19146643.0,21375621.0,22567521.0,23559573.0,NaN,NaN,NaN,...,45481536.0,48367990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1892453.0,1934291.0,1959824.0,NaN,NaN,NaN,NaN,NaN,2174718.0,NaN
Slovakia,1156810.0,1155588.0,1177584.0,1212515.0,1295855.0,1364116.0,1407692.0,1438532.0,1465164.0,1509055.0,...,2143574.0,2204868.0,2279806.0,2376227.0,2749107.0,2867120.0,2983710.0,3061693.0,2774856.0,2834711.0
Slovenia,671591.0,698471.0,743376.0,775858.0,829386.0,866008.0,903284.0,925789.0,943655.0,976958.0,...,1152848.0,1078898.0,1081083.0,1092694.0,1112183.0,1135047.0,1161912.0,1185006.0,1189832.0,1209397.0
Spain,16300638.0,16686838.0,17283621.0,17954118.0,18657130.0,19611613.0,20636728.0,21426908.0,22312104.0,23048842.0,...,27482044.0,NaN,27114855.0,27462976.0,28026037.0,28706620.0,29345909.0,29872249.0,30046723.0,30261007.0
Sweden,3885813.0,3911834.0,3953286.0,3981504.0,4038148.0,4150060.0,4259162.0,4387639.0,4428939.0,4465953.0,...,5011840.0,5068262.0,5174288.0,5272875.0,5391547.0,5491701.0,5534260.0,5565005.0,5630279.0,5684211.0
Switzerland,3377018.0,3457371.0,3528319.0,3568682.0,3625708.0,3689392.0,3780646.0,3863778.0,3956588.0,4033543.0,...,4626400.0,4702100.0,4775900.0,4860000.0,4939500.0,5061138.0,5109481.0,5147801.0,5198814.0,5249640.0
Tajikistan,200700.0,NaN,NaN,233995.0,228582.0,228481.0,213507.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Turkiye,3549497.0,3830118.0,4068697.0,4358078.0,4785767.0,5191912.0,5515568.0,6005919.0,6164745.0,6279248.0,...,10032598.0,13614656.0,14332586.0,15315224.0,16270109.0,17217824.0,17705282.0,17851180.0,18603245.0,NaN
Turkmenistan,214100.0,NaN,NaN,226800.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ukraine,4235700.0,4384100.0,4603100.0,4872272.0,5024011.0,5127323.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Kingdom,24142266.0,24597140.0,24688000.0,25765869.0,26415626.0,27164741.0,27915656.0,28407496.0,29206659.0,29976693.0,...,NaN,NaN,NaN,34529929.0,35287562.0,35756116.0,36182761.0,NaN,NaN,36929920.0
United States,186969432.0,199081319.0,202865386.0,207993527.0,209220395.0,213117099.0,217842394.0,223062784.0,232368671.0,231470524.0,...,245184447.0,243095043.0,249891943.0,252842935.0,257850765.0,261461626.0,265377904.0,NaN,NaN,NaN
Uzbekistan,861000.0,971800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25590.0,1738723.0,1841476.0,1996201.0,2077055.0,2133507.0,2292513.0,2426083.0,2781355.0,3067534.0

In [7]:
def map_country_names_UNECE(name_UNECE):
    if name_UNECE == "Republic of Moldova":
        return "Moldova, Republic of"
    elif name_UNECE == "United Kingdom":
        return "United Kingdom of Great Britain and Northern Ireland"
    elif name_UNECE == "United States":
        return "United States of America"
   
    return name_UNECE

In [8]:
vehicle_data_ATO=pd.read_csv("data/vehicle stock/ATO National Data - indicatorview-cleaned.csv",index_col=0)
vehicle_data_ATO

,Economy Code,Economy Name,1990,1991,1992,1993,1994,1995,1996,1997,...,2017,2018,2019,2020,2021,2022,Remarks,Source (2022-04),Source (2021-10),Source (2023-03)
0,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1272843.0,1305493.0,1313436.0,1335785.0,1351149.0,NaN,NaN,NaN,Ministry of Transport and Civil Aviation and P...,http://nsia.gov.af:8080/wp-content/uploads/202...
1,ARM,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AUS,Australia,NaN,7949911.0,NaN,8372586.0,NaN,8727947.0,9096228.0,9317369.0,...,14262661.0,14519756.0,14697949.0,14876783.0,15047437.0,15249749.0,Values revised based on latest yearbook,https://www.abs.gov.au/statistics/industry/tou...,https://www.bitre.gov.au/sites/default/files/d...,https://www.bitre.gov.au/sites/default/files/d...
3,AZE,Azerbaijan,299254.0,298195.0,294952.0,300064.0,311541.0,312492.0,307232.0,302718.0,...,1199467.0,1223231.0,1267857.0,1318904.0,1405464.0,NaN,New data,NaN,NaN,https://www.stat.gov.az/source/transport/?lang=en
4,BGD,Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,737284.0,786349.0,827790.0,869395.0,NaN,NaN,Source revised 2015-2019,NaN,http://bbs.portal.gov.bd/sites/default/files/f...,http://203.112.218.65:8008/WebTestApplication/...
5,BTN,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65011.0,69931.0,76758.0,80378.0,86828.0,NaN,NaN,https://www.nsb.gov.bt/publications/statistica...,https://www.moic.gov.bt/wp-content/uploads/201...,https://www.nsb.gov.bt/publications/statistica...
6,BRN,Brunei Darussalam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,257534.0,262726.0,270211.0,261273.0,NaN,NaN,NaN,NaN,http://deps.gov.bn/DEPD%20Documents%20Library/...,https://deps.mofe.gov.bn/DEPD%20Documents%20Li...
7,KHM,Cambodia,NaN,NaN,135088.0,141964.0,149628.0,155974.0,163239.0,171268.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.nis.gov.kh/nis/yearbooks/Yearbook0...,NaN
8,CHN,People's Republic of China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,184695400.0,205554100.0,224742800.0,241661900.0,260158400.0,NaN,NaN,http://www.stats.gov.cn/tjsj/ndsj/2021/indexeh...,"National Bureau of Statistics of China, China ...",http://www.stats.gov.cn/sj/ndsj/2022/indexeh.htm
9,COK,Cook Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,FJI,Fiji,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99218.0,101279.0,111590.0,112435.0,118678.0,NaN,NaN,NaN,https://www.statsfiji.gov.fj/index.php/latest-...,https://www.statsfiji.gov.fj/index.php/latest-...
11,GEO,Georgia,519100.0,NaN,NaN,NaN,NaN,376300.0,NaN,NaN,...,1128300.0,1187800.0,1237500.0,1300000.0,1381500.0,NaN,NaN,https://www.geostat.ge/media/42476/Yearbook_20...,https://www.geostat.ge/media/20930/Statistical...,https://www.geostat.ge/media/50652/Yearbook_20...
12,IND,India,5303000.0,5818000.0,6332000.0,6694000.0,7070000.0,7670000.0,8503000.0,9260000.0,...,53963000.0,57058518.0,60735863.0,68329000.0,NaN,NaN,Revised using latest report,https://morth.nic.in/sites/default/files/RTYB-...,"MoSPI, Statistical Yearbook, http://mospi.nic.in",https://morth.nic.in/sites/default/files/MoRTH...
13,IDN,Indonesia,1781760.0,1999327.0,2130693.0,2268944.0,2541948.0,2795824.0,3004507.0,3250925.0,...,14181561.0,15053570.0,15823988.0,16031007.0,16650914.0,NaN,Source revised 2017 onwards,https://dephub.go.id/public/images/uploads/pos...,https://bps.go.id/indicator/17/57/1/number-of-...,https://bps.go.id/publication/2022/11/28/a2ae6...
14,JPN,Japan,36611244.0,38830236.0,40732239.0,42675472.0,44630934.0,46827923.0,46739973.0,48976021.0,...,63555669.0,63755067.0,63805739.0,63919632.0,63876728.0,NaN,Moved time series backward by 1 year to align ...,https://www.stat.go.jp/data/nenkan/71nenkan/zu...,https://www.airia.or.jp/publish/statistics/ub8...,https://www.stat.go.jp/data/nenkan/72nenkan/zu...
15,KAZ,Kazakhstan,863900.0,903034.0,971200.0,1011800.0,1046500.0,1088106.0,1046700.0,1019500.0,...,3942050.0,3937311.0,3863513.0,3953881.0,3880120.0,NaN,NaN,NaN,NaN,https://stat.gov.kz/official/industry/18/stati...
16,KIR,Kiribati,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,KGZ,Kyrgyz Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,LAO,Lao People's Democratic Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,358620.0,405630.0,434956.0,460980.0,643908.0,NaN,Source revised 2017-2019 values,https://laosis.lsb.gov.la/,http://www.mpwt.gov.la/attachments/article/109...,https://laosis.lsb.gov.la/tblInfo/TblInfoList.do
19,MYS,Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12246582.0,14291458.0,14879432.0,15076059.0,NaN,NaN,NaN,https://newss.statistics.gov.my/,https://newss.statistics.gov.my/newss-portalx/...,https://newss.statistics.gov.my/
20,MDV,Maldives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12655.0,13839.0,NaN,NaN,NaN,NaN,NaN,NaN,http://statisticsmaldives.gov.mv/publications/...,NaN
21,MHL,Marshall Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://pacificdata.org/data/dataset/marshall-...,NaN
22,FSM,Micronesia (Federated States of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7394.0,8551.0,10462.0,NaN,NaN,NaN,NaN,NaN,https://www.fsmstatistics.fm/other-statistics/...,NaN
23,MNG,Mongolia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,627678.0,671966.0,720580.0,787069.0,884488.0,NaN,NaN,http://www.1212.mn/tables.aspx?tbl_id=DT_NSO_1...,National Center for Road Transport,NaN
24,MMR,Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,538945.0,558738.0,587642.0,609179.0,NaN,NaN,NaN,NaN,https://www.csostat.gov.mm/Content/Publication...,https://www.csostat.gov.mm/Content/Publication...
25,NIU,Niue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.theprif.org/sites/default/files/20...,NaN
26,NRU,Nauru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://unfccc.int/resource/docs/natc/naunc1.pdf,NaN
27,NPL,Nepal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://old.dotm.gov.np/uploads/files/Vehicle%...,NaN
28,NZL,New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3240616.0,3319345.0,3383313.0,3410951.0,3471528.0,NaN,Sourced revised values,https://www.transport.govt.nz/assets/Uploads/D...,https://www.transport.govt.nz/assets/Uploads/D...,https://www.transport.govt.nz/statistics-and-i...
29,PAK,Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1270663.0,...,3609626.0,3915896.0,4128824.0,4260487.0,NaN,NaN,Source revised 2013-2018 valuess,https://www.pbs.gov.pk/sites/default/files//ot...,NaN,https://www.pbs.gov.pk/sites/default/files/oth...
30,PLW,Palau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.pcreee.org/publication/republic-pa...,NaN
31,PNG,Papua New Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,PHL,Philippines,NaN,NaN,1246482.0,1385361.0,1508160.0,1648604.0,1828591.0,1961991.0,...,3752875.0,3928608.0,4170883.0,4029338.0,4389676.0,4855322.0,Revised values based on new source,https://dotr.gov.ph/data-sets/road-sector.html,https://lto.gov.ph/transparency-seal/annual-re...,https://lto.gov.ph/transparency-seal/annual-re...
33,KOR,Republic of Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18267784.0,18914718.0,19421286.0,20111230.0,20670232.0,21223136.0,Source revised 2015-2019 values,https://kosis.kr/statHtml/statHtml.do?orgId=11...,https://kosis.kr/eng/statisticsList/statistics...,https://kosis.kr/statHtml/statHtml.do?orgId=11...
34,WSM,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22045.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://prdrse4all.spc.int/system/files/vehicle...,NaN
35,SGP,Singapore,296204.0,309594.0,312482.0,331638.0,350845.0,374629.0,395448.0,407670.0,...,657214.0,658015.0,670884.0,671109.0,681092.0,685287.0,NaN,https://tablebuilder.singstat.gov.sg/table/TS/...,https://www.lta.gov.sg/content/dam/ltagov/who_...,https://tablebuilder.singstat.gov.sg/table/TS/...
36,SLB,Solomon Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,LKA,Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1706014.0,1817943.0,1880521.0,1916476.0,1934832.0,NaN,NaN,NaN,http://www.statistics.gov.lk/Pocket%20Book/cha...,https://ntc.gov.lk/corporate/pdf/2022/statisti...
38,TJK,Tajikistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,THA,Thailand,2346508.0,2443405.0,2735306.0,3231549.0,3693028.0,4101091.0,4639341.0,5211250.0,...,15979081.0,16785069.0,17570901.0,18127628.0,18640373.0,NaN,NaN,http://statbbi.nso.go.th/staticreport/page/sec...,NaN,http://statbbi.nso.go.th/staticreport/page/sec...
40,TLS,Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,TON,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://openjicareport.jica.go.jp/pdf/12112264...,NaN
42,TKM,Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,TUV,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TUVALU Central Statistics DIVISION,NaN
44,UZB,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,VUT,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://openjicareport.jica.go.jp/pdf/12112264...,NaN
46,VNM,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1649000.0,1918400.0,2234500.0,NaN,NaN,NaN,NaN,https://www.ajtpweb.org/ajtp/statistics/Vietna...,https://data.aseanstats.org/indicator/ASE.TRP....,NaN
47,HKG,"Hong Kong, China",NaN,NaN,NaN,NaN,NaN,NaN,NaN,391522.0,...,647976.0,666012.0,676914.0,700169.0,705786.0,698491.0,NaN,https://data.gov.hk/en-data/dataset/hk-td-tis_...,https://www.td.gov.hk/en/transport_in_hong_kon...,NaN
48,TWN,"Taipei,China",NaN,1931477.0,2235565.0,2531737.0,2828149.0,3092362.0,3328625.0,3565222.0,...,6862401.0,6944931.0,7018749.0,7084914.0,7205148.0,NaN,NaN,https://stat.thb.gov.tw/hb01/webMain.aspx?sys=...,https://stat.thb.gov.tw/hb01/webMain.aspx?sys=...,NaN
49,IRN,Iran (Islamic Republic of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,887870.0,915364.0,NaN,NaN,NaN,NaN,https://www.amar.org.ir/Portals/1/yearbook/139...,NaN,NaN
50,RUS,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47783000.0,48289000.0,49299000.0,NaN,NaN,NaN,NaN,NaN,Federal State Statistic Service https ://gks.ru,NaN

In [9]:
vehicle_data_americas = pd.read_csv("data/vehicle stock/total-vehicles-in-use-WRS-America.csv",index_col=0).T
vehicle_data_americas

Category,2015,2016,2017,2018,2019,2020
Antigua and Barbuda,35219.0,35730.0,35899.0,39523.0,42284.0,NaN
Argentina,13504434.0,14245414.0,NaN,NaN,NaN,NaN
Aruba,60211.0,65781.0,68842.0,78416.0,78961.0,80065.0
Barbados,114848.0,NaN,NaN,NaN,NaN,NaN
Bermuda,26934.0,27026.0,27493.0,27601.0,27838.0,28081.0
Bolivia,1128202.0,1200781.0,1246633.0,1300935.0,1353953.0,1371174.0
Brazil,64164723.0,66215856.0,68456385.0,71021475.0,73807436.0,75863573.0
Canada,23214548.0,23553604.0,23846147.0,24330772.0,24686419.0,NaN
Cayman Islands,38588.0,38347.0,35067.0,35620.0,37904.0,31528.0
Chile,4464951.0,4676852.0,4900037.0,5182245.0,5393768.0,5591145.0
Colombia,5186532.0,5440622.0,5679528.0,5937038.0,6143287.0,6310037.0
Costa Rica,1076401.0,1127919.0,1180351.0,1225156.0,1249334.0,1317164.0
Cuba,413310.0,417957.0,417586.0,418524.0,NaN,NaN
Curaçao,91398.0,93015.0,97783.0,103273.0,98503.0,77670.0
Dominica,NaN,33049.0,NaN,NaN,NaN,NaN
Dominican Republic,1253523.0,1313906.0,1380196.0,1460487.0,1510974.0,1564954.0
Ecuador,1494153.0,1578295.0,1707376.0,1821145.0,1764132.0,1695047.0
El Salvador,NaN,798866.0,NaN,NaN,NaN,NaN
Grenada,36146.0,38270.0,42877.0,44507.0,47541.0,NaN
Guatemala,1862651.0,2000824.0,2133725.0,2122721.0,2246744.0,2291992.0
Guyana,116818.0,NaN,NaN,NaN,NaN,NaN
Honduras,912108.0,1003402.0,1063342.0,1129313.0,1186844.0,1230046.0
Jamaica,552279.0,583775.0,617778.0,659320.0,705794.0,722223.0
Mexico,37338734.0,39416688.0,42254979.0,43703774.0,45080066.0,45086615.0
Nicaragua,363617.0,403899.0,375601.0,447184.0,451265.0,466740.0
Panama,700543.0,752316.0,805622.0,858670.0,902094.0,831471.0
Paraguay,651642.0,661091.0,685555.0,689289.0,NaN,NaN
Peru,2544133.0,2661719.0,2786101.0,2894327.0,NaN,NaN
St. Kitts and Nevis,25085.0,NaN,NaN,NaN,NaN,NaN
St. Lucia,NaN,35220.0,NaN,NaN,NaN,NaN
St. Vincent and the Grenadines,24887.0,25536.0,22857.0,23745.0,28438.0,26637.0
Suriname,185132.0,188126.0,193279.0,200967.0,199818.0,203657.0
United States,255009283.0,260119703.0,263765695.0,264935915.0,267894860.0,267607079.0
Uruguay,724224.0,792858.0,837647.0,824051.0,881569.0,911892.0
"Venezuela, RB",NaN,6713741.0,NaN,NaN,NaN,NaN

In [10]:
vehicle_data_africa = pd.read_csv("data/vehicle stock/total-vehicles-in-use-WRS-Africa.csv",index_col=0).T
vehicle_data_africa

Category,2015,2016,2017,2018,2019,2020
Algeria,5363728.0,5633747.0,5764422.0,5952419.0,NaN,NaN
Benin,36010.0,37275.0,24598.0,24341.0,24657.0,NaN
Botswana,434313.0,463806.0,489967.0,500561.0,559777.0,537890.0
Burkina Faso,297070.0,322169.0,350640.0,380887.0,413238.0,445282.0
Burundi,30325.0,34266.0,48442.0,NaN,49131.0,NaN
Cabo Verde,NaN,57360.0,NaN,NaN,NaN,NaN
Cameroon,50081.0,48747.0,51142.0,NaN,NaN,NaN
Chad,NaN,1124000.0,NaN,NaN,NaN,NaN
Comoros,NaN,34898.0,NaN,NaN,NaN,NaN
Côte d'Ivoire,53054.0,59187.0,NaN,NaN,NaN,NaN
"Egypt, Arab Rep.",5787042.0,6173298.0,6628663.0,7040075.0,7343380.0,6776959.0
Eritrea,NaN,68370.0,NaN,NaN,NaN,NaN
Eswatini,NaN,99830.0,NaN,NaN,NaN,NaN
Ethiopia,186681.0,560629.0,626173.0,682242.0,751582.0,824828.0
Ghana,NaN,1536089.0,NaN,NaN,NaN,NaN
Guinea,225620.0,248253.0,273510.0,301716.0,333243.0,NaN
Guinea-Bissau,NaN,62239.0,NaN,NaN,NaN,NaN
Kenya,1403354.0,1465218.0,1555155.0,1649565.0,1754406.0,1834647.0
Madagascar,194144.0,NaN,NaN,NaN,NaN,NaN
Mauritius,290172.0,305991.0,323954.0,342438.0,361231.0,375392.0
Morocco,3436271.0,3623375.0,3620861.0,3835038.0,4187733.0,4334758.0
Mozambique,596735.0,631535.0,664181.0,NaN,NaN,NaN
Namibia,331812.0,349939.0,NaN,359426.0,372282.0,NaN
Niger,257821.0,279326.0,300294.0,312695.0,332533.0,354723.0
Nigeria,NaN,10431015.0,NaN,NaN,NaN,NaN
Rwanda,80237.0,87678.0,94350.0,100723.0,96018.0,108932.0
São Tomé and Principe,NaN,NaN,34050.0,NaN,NaN,NaN
Senegal,NaN,NaN,NaN,611115.0,NaN,NaN
Seychelles,19912.0,21964.0,23189.0,24558.0,25871.0,26909.0
South Africa,9927814.0,NaN,10425245.0,10670352.0,10950244.0,10899813.0
St. Helena,2728.0,2918.0,2897.0,2972.0,2995.0,NaN
Sudan,NaN,1102962.0,NaN,NaN,NaN,NaN
Tanzania,749825.0,803211.0,845227.0,897040.0,NaN,NaN
Togo,20149.0,18779.0,19782.0,21283.0,24341.0,NaN
Tunisia,1648406.0,1728266.0,1812063.0,NaN,NaN,NaN
Uganda,NaN,3335.0,NaN,NaN,NaN,NaN
Zambia,663542.0,696474.0,737671.0,782136.0,822882.0,853909.0
Zimbabwe,NaN,1037643.0,1092565.0,NaN,NaN,NaN

In [11]:
vehicle_data_asia = pd.read_csv("data/vehicle stock/total-vehicles-in-use-WRS-Asia.csv",index_col=0).T
vehicle_data_asia

Category,2015,2016,2017,2018,2019,2020
Afghanistan,1584617.0,1597834.0,1593436.0,1626921.0,1641236.0,NaN
Azerbaijan,1310881.0,1318683.0,1330586.0,1358669.0,1405838.0,1461024.0
Bahrain,574014.0,622507.0,653162.0,683181.0,691858.0,696136.0
Bangladesh,838588.0,907898.0,987557.0,1061714.0,1142885.0,1231731.0
Bhutan,76644.0,86162.0,93392.0,102525.0,108959.0,114176.0
Brunei Darussalam,263566.0,273643.0,273506.0,278678.0,286061.0,268801.0
Cambodia,NaN,120553.0,NaN,NaN,NaN,NaN
China,161615029.0,184501356.0,208083902.0,231232288.0,252571080.0,272088247.0
"China, Hong Kong",672701.0,687549.0,704889.0,720752.0,727218.0,728746.0
"China, Macao",119396.0,119311.0,115337.0,116067.0,116908.0,118704.0
Chinese Taipei,7677070.0,7779004.0,7883992.0,7970377.0,8052680.0,8125594.0
Georgia,1043928.0,1126487.0,1183953.0,1240894.0,1286883.0,1348986.0
India,39926000.0,42515000.0,47808000.0,51169000.0,54248000.0,NaN
Indonesia,16646387.0,17674201.0,18722463.0,19850824.0,20845876.0,21114412.0
"Iran, Islamic Rep.",18506234.0,18792846.0,20391967.0,21072634.0,21963699.0,NaN
Iraq,5616041.0,NaN,NaN,NaN,NaN,2382649.0
Israel,2964138.0,3108862.0,3238125.0,3355864.0,3457639.0,3534558.0
Japan,75719949.0,76047904.0,76357751.0,76555252.0,76669826.0,76702773.0
Jordan,1301172.0,1347311.0,1535617.0,1577140.0,1624003.0,1673346.0
Kazakhstan,4397354.0,4383120.0,4382625.0,4342120.0,4325286.0,4433540.0
"Korea, Rep.",20914922.0,21722872.0,22442385.0,23111657.0,23581902.0,24260042.0
Kuwait,2004780.0,2079994.0,2156810.0,2044484.0,2181715.0,2295606.0
Lao PDR,390602.0,427151.0,465802.0,502146.0,536237.0,567769.0
Lebanon,1651859.0,1675891.0,NaN,1915580.0,NaN,NaN
Malaysia,693207.0,601158.0,595303.0,623807.0,614574.0,NaN
Maldives,9267.0,10209.0,11056.0,11990.0,NaN,NaN
Mongolia,474056.0,490856.0,527749.0,576208.0,604779.0,638400.0
Myanmar,712402.0,811780.0,920345.0,973907.0,1006999.0,1018042.0
Nepal,304420.0,NaN,NaN,NaN,NaN,NaN
Occupied Palestinian Territory,173284.0,199998.0,225841.0,251998.0,267225.0,275618.0
Oman,NaN,NaN,NaN,1482023.0,1528984.0,1550987.0
Pakistan,3374135.0,3609512.0,3887746.0,4200845.0,4416888.0,4493867.0
Philippines,3777194.0,3921900.0,4236469.0,4433181.0,4711103.0,4523076.0
Qatar,1450187.0,1520258.0,1572084.0,1627044.0,1691942.0,NaN
Saudi Arabia,NaN,6895799.0,NaN,NaN,NaN,NaN
Singapore,792282.0,791095.0,797632.0,796388.0,809428.0,809415.0
Sri Lanka,1477689.0,1559866.0,1630495.0,1742203.0,1798441.0,1833507.0
Syrian Arab Republic,NaN,1643372.0,1651259.0,NaN,NaN,NaN
Tajikistan,433591.0,435225.0,440054.0,459613.0,504785.0,NaN
Thailand,15605770.0,16217290.0,16946961.0,17784170.0,18596748.0,19176837.0
Timor-Leste,17801.0,19498.0,21969.0,23974.0,NaN,NaN
Turkey,15315224.0,16270109.0,17217824.0,17705282.0,17851180.0,18603245.0
United Arab Emirates,NaN,3336544.0,NaN,NaN,NaN,NaN
Uzbekistan,2106365.0,2188160.0,2269457.0,2435955.0,2576377.0,2950165.0
Vietnam,2009400.0,2515700.0,2787000.0,NaN,NaN,NaN
"Yemen, Rep.",23762.0,31071.0,25219.0,NaN,NaN,NaN

In [12]:
vehicle_data_europe = pd.read_csv("data/vehicle stock/total-vehicles-in-use-WRS-Europe.csv",index_col=0).T
vehicle_data_europe

Category,2015,2016,2017,2018,2019,2020
Albania,481157.0,518085.0,495488.0,535610.0,579809.0,623283.0
Andorra,64188.0,65785.0,NaN,NaN,NaN,NaN
Austria,5201750.0,5288596.0,5383312.0,5484120.0,5563615.0,5633525.0
Belarus,3501954.0,3525458.0,3544382.0,3615859.0,3685262.0,3724391.0
Belgium,6471312.0,6581491.0,6687612.0,6786650.0,6853357.0,6868169.0
Bosnia and Herzegovina,904006.0,948344.0,974843.0,1024646.0,1036559.0,1032913.0
Bulgaria,3629898.0,3623373.0,3214490.0,3232095.0,3302747.0,3347274.0
Croatia,1651261.0,1715090.0,1769843.0,1853694.0,1924591.0,1953808.0
Cyprus,594240.0,617430.0,637353.0,664821.0,690196.0,697093.0
Czech Republic,5787341.0,6000098.0,6252441.0,6479806.0,6670157.0,6800306.0
Denmark,2841291.0,2917922.0,2981468.0,3039751.0,3087407.0,3154582.0
Estonia,783136.0,816206.0,845688.0,873049.0,931262.0,949276.0
Faroe Islands,25864.0,26751.0,27918.0,29073.0,30305.0,31631.0
Finland,3028333.0,3048059.0,3096961.0,3130640.0,3158696.0,3191483.0
France,44134000.0,44683000.0,45197000.0,45250000.0,45204000.0,44944451.0
Germany,50091829.0,50964751.0,51789653.0,52562994.0,53339019.0,54035578.0
Gibraltar,20689.0,20165.0,22739.0,19367.0,NaN,NaN
Greece,6456810.0,6519420.0,6606239.0,6653146.0,6792371.0,6892442.0
Greenland,5611.0,5778.0,6170.0,6416.0,6885.0,7284.0
Hungary,3711228.0,3848766.0,4033229.0,4231432.0,4430077.0,4553481.0
Iceland,261889.0,278976.0,298631.0,310438.0,314806.0,315309.0
Ireland,2349547.0,2403179.0,2449353.0,2496327.0,2577014.0,2624942.0
Italy,42241934.0,42862046.0,43597915.0,44168726.0,44764755.0,44999681.0
Kosovo,340293.0,317825.0,183221.0,280434.0,335843.0,319563.0
Latvia,769843.0,752940.0,781380.0,801684.0,823024.0,835728.0
Liechtenstein,32369.0,32923.0,33445.0,33823.0,34237.0,34437.0
Lithuania,1353815.0,1415059.0,1479690.0,1563714.0,1642202.0,1716391.0
Luxembourg,415975.0,425578.0,437219.0,451709.0,465690.0,479145.0
Malta,321535.0,330255.0,340804.0,351096.0,360047.0,362624.0
Moldova,715480.0,736367.0,782447.0,817242.0,855536.0,884562.0
Monaco,33148.0,34139.0,35153.0,35949.0,36390.0,36389.0
Montenegro,189690.0,199511.0,209191.0,224070.0,236943.0,228696.0
Netherlands,9073339.0,9221801.0,9406164.0,9598108.0,9772222.0,9906669.0
North Macedonia,425764.0,435678.0,445123.0,457682.0,469140.0,472886.0
Norway,3181130.0,3238597.0,3299723.0,3333776.0,3378570.0,3392539.0
Poland,24261232.0,25329863.0,26258653.0,27306655.0,28366542.0,29237555.0
Portugal,6083694.0,6208350.0,6447241.0,6705331.0,7027591.0,7021112.0
Romania,6058663.0,6434016.0,7023703.0,7538662.0,8046763.0,8470490.0
Russian Federation,51355386.0,52337486.0,54216214.0,54779626.0,55838224.0,56673511.0
San Marino,40026.0,40307.0,40990.0,41082.0,39530.0,39421.0
Serbia,2041677.0,2037886.0,2202345.0,2238533.0,2335435.0,2430672.0
Slovak Republic,2375896.0,2470546.0,2581171.0,2689506.0,2764453.0,2811152.0
Slovenia,1181593.0,1205687.0,1234331.0,1267239.0,1295981.0,1303443.0
Spain,28310220.0,28895046.0,29601956.0,30270260.0,30827565.0,31029283.0
Sweden,5279391.0,5398128.0,5498418.0,5541213.0,5572062.0,5637469.0
Switzerland,5109170.0,5260131.0,5324109.0,5374447.0,5415720.0,5469555.0
United Kingdom,35581168.0,36366140.0,36858627.0,37305899.0,37813888.0,37697411.0

In [13]:
vehicle_data_oceania = pd.read_csv("data/vehicle stock/total-vehicles-in-use-WRS-Oceania.csv",index_col=0).T
vehicle_data_oceania

Category,2015,2016,2017,2018,2019,2020
American Samoa,9523.0,8312.0,NaN,NaN,NaN,NaN
Australia,17118903.0,17473704.0,17844783.0,18221820.0,18540714.0,18827389.0
Fiji,99627.0,108793.0,115511.0,117444.0,NaN,NaN
Guam,109224.0,112397.0,113192.0,113072.0,116984.0,105050.0
Kiribati,NaN,NaN,2949.0,NaN,NaN,NaN
"Micronesia, Fed. Sts.",8372.0,9058.0,8430.0,9438.0,11555.0,10561.0
New Zealand,3628690.0,3780867.0,3938450.0,4061013.0,4169638.0,4212092.0
Papua New Guinea,NaN,99704.0,NaN,NaN,NaN,NaN
Samoa,NaN,25067.0,NaN,NaN,NaN,NaN

In [14]:
def map_country_names_WRS(name_WRS):
    if name_WRS == "Bolivia":
        return "Bolivia (Plurinational State of)"
    elif name_WRS == "St. Kitts and Nevis":
        return "Saint Kitts and Nevis"
    elif name_WRS == "St. Lucia":
        return "Saint Lucia"
    elif name_WRS == "St. Vincent and the Grenadines":
        return "St. Vincent and the Grenadines"
    elif name_WRS == "United States":
        return "United States of America"
    elif name_WRS == "Venezuela, RB":
        return "Venezuela (Bolivarian Republic of)"
    elif name_WRS == "Egypt, Arab Rep.":
        return "Egypt"
    elif name_WRS == "São Tomé and Principe":
        return "Sao Tome and Principe"
    elif name_WRS == "St. Helena":
        return "Saint Helena, Ascension and Tristan da Cunha"
    elif name_WRS == "Tanzania":
        return "Tanzania, United Republic of"
    elif name_WRS == "China, Hong Kong":
        return "Hong Kong"
    elif name_WRS == "China, Macao":
        return "Macao"
    elif name_WRS == "Chinese Taipei":
        return "Taiwan, Province of China"
    elif name_WRS == "Iran, Islamic Rep.":
        return "Iran (Islamic Republic of)"
    elif name_WRS == "Lao PDR":
        return "Lao People's Democratic Republic"
    elif name_WRS == "Occupied Palestinian Territory":
        return "Palestine, State of"
    elif name_WRS == "Vietnam":
        return "Viet Nam"
    elif name_WRS == "Yemen, Rep.":
        return "Yemen"
    elif name_WRS == "Czech Republic":
        return "Czechia"
    elif name_WRS == "Moldova":
        return "Moldova, Republic of"
    elif name_WRS == "Slovak Republic":
        return "Slovakia"
    elif name_WRS == "United Kingdom":
        return "United Kingdom of Great Britain and Northern Ireland"
    elif name_WRS == "Micronesia, Fed. Sts.":
        return "Micronesia (Federated States of)"    

    return name_WRS

In [15]:
countries = pd.read_csv("data/countries/all.csv")
countries.columns
vehicle_stocks_con = countries[["name","alpha-3"]].copy().rename(columns={"name":"Country name","alpha-3":"Country code"})
years = np.arange(1990,2023)
for y in years:
    vehicle_stocks_con[y] = np.nan

# data from WRS
years_WRS = np.arange(2015,2021)
for i,row in vehicle_data_americas.iterrows():
    for y in years_WRS:
        if not np.isnan(row[y]):
            vehicle_stocks_con.loc[vehicle_stocks_con["Country name"]==map_country_names_WRS(i),y] = row[y]

for i,row in vehicle_data_oceania.iterrows():
    for y in years_WRS:
        if not np.isnan(row[y]):
            vehicle_stocks_con.loc[vehicle_stocks_con["Country name"]==map_country_names_WRS(i),y] = row[y]

for i,row in vehicle_data_europe.iterrows():
    for y in years_WRS:
        if not np.isnan(row[y]):
            vehicle_stocks_con.loc[vehicle_stocks_con["Country name"]==map_country_names_WRS(i),y] = row[y]


for i,row in vehicle_data_asia.iterrows():
    for y in years_WRS:
        if not np.isnan(row[y]):
            vehicle_stocks_con.loc[vehicle_stocks_con["Country name"]==map_country_names_WRS(i),y] = row[y]

for i,row in vehicle_data_africa.iterrows():
    for y in years_WRS:
        if not np.isnan(row[y]):
            vehicle_stocks_con.loc[vehicle_stocks_con["Country name"]==map_country_names_WRS(i),y] = row[y]

# data from transport data starter kits
years_TDSK = np.arange(1990,2022)
for i,row in vehicle_stock_TDSK.iterrows():
    for y in years_TDSK:
        if not np.isnan(row[y]):
            vehicle_stocks_con.loc[vehicle_stocks_con["Country code"]==row['ISO Alpha-3 code'],y] = row[y]

# data from UNECE
years_UNECE = np.arange(1993,2022)
for i,row in vehicle_stocks_UNECE.iterrows():
    for y in years_UNECE:
        if not np.isnan(row[str(y)]):
            vehicle_stocks_con.loc[vehicle_stocks_con["Country name"]==map_country_names_UNECE(i),y] = row[str(y)]

# data from ATO
years_ATO = np.arange(1990,2023)
for i,row in vehicle_data_ATO.iterrows():
    for y in years_ATO:
        if not np.isnan(row[str(y)]):
            vehicle_stocks_con.loc[vehicle_stocks_con["Country code"]==row['Economy Code'],y] = row[str(y)]

In [16]:
vehicle_stocks_con.to_csv("data/vehicle stock/consolidated_vehicle_stock_data.csv")